/**
    the css for harbor skin
 */
clr-vertical-nav {
   background: #191a23 !important;
   box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.clr-vertical-nav .nav-link {
    color: hsla(0,0%,100%,.7) ;
    margin: 5px 5px;
 }

.clr-vertical-nav .nav-link.active {
    color: #fff;
    background-color:  #2d8cf0;
    border-radius: 5px;
    margin: 0 5px;
}

.clr-vertical-nav .nav-link {
    border-radius: 5px;
}

.clr-vertical-nav .nav-link.active .nav-icon {
  fill: #fff
}

.clr-vertical-nav .nav-group-content {
   color: hsla(0,0%,100%,.7);
}

.clr-vertical-nav .nav-trigger {
  color: hsla(0,0%,100%,.7);
}

.main-container {
  background-color: #fff;
}
clr-header {
    background-color: #2d8cf0 !important;
    box-shadow: 0 1px 4px rgba(31, 110, 185, 0.5) !important;
}

.nav .nav-link.active {
  color: #0077b8;
  font-weight: bold;
}
.nav .nav-link.active {
  a {
     color: #0077b8;
     font-weight: bold;
  }
}

.clear-default-active {
  a {
    color: #737373 !important;
    font-weight: 400 !important;
  }
}


#tag-detail-canvas {
  canvas {
    margin-top: 1rem;
    margin-left: 1rem;
  }
}

.btn.btn-primary {
    background-color: #2d8cf0;
    border-color: #2d8cf0;
}

.clear-default-active {
    color: #737373 !important;
    font-weight: 400 !important;
}

input[type=radio]:checked+label::before {
    box-shadow: inset 0 0 0 0.25rem #2d8cf0 !important;
}

input[type=checkbox]:checked+label::before {
    background: #2d8cf0 !important;
}

button:focus {
  outline: none;
}